body {
    padding-top: 70px;

}

.jumbotron {
    color: aqua;
    background: #2c3e50;
    margin-top: 20px;
}

/* If I declare the same class and toggle it with important, I override the bootstrap class because
I am last!!! */
.bg-dark {
    background: red!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.row .card {
    margin: 1rem;
    padding: 1rem;
    
}

#bandsaw {
    height: 3rem;
    width: 100%;
    color: black;
}

#cardrow {
    margin: 1rem;
} 
/* TODO:  On Inspire.html, there is a slight streak of bg-primary vertically on the left.
   be sure to remove. */