/* select iconic picture from collection to establish the color-scheme for the website. */

body {

    /* background: lightgoldenrodyellow; */
    background-image: url("/MarvinCaseyKeyBayLivingRoom.jpg");
    
}

#ctrl {
    margin: 1 rem;
    padding: 1 rem;
    border: 1px solid red;
    text-align: center;
}